build --cxxopt='-std=c++2b'

build --incompatible_enable_cc_toolchain_resolution
build --action_env BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

build --@io_bazel_rules_docker//transitions:enable=false

# because dev docker containers will mount the repo as
# readonly, generate symlinks in their own /tmp folder.
# This avoids the warning that bazel cannot write links
# in repo directory, and also enables multiple containers
# building at the same time without interfering with each
# other.
build --symlink_prefix="/tmp/"
